@media screen and (max-width: 479px) {
    .container {
        width: 100%;
        padding: 0 10px;
        margin: 0 auto;
    }
    
    .topic-buttons-container {
        grid-template-columns: 1fr;
    }
}

@media screen and (min-width: 480px) {
    .container {
        width: 480px;
        margin: 0 auto;
    }

    .topic-buttons-container {
        grid-template-columns: 1fr;
    }
}

@media screen and (min-width: 768px) {
    .container {
        width: 768px;
        margin: 0 auto;
    }

    .topic-buttons-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1024px) {
    .container {
        width: 1024px;
        margin: 0 auto;
    }

    .quiz-container {
        max-width: 768px;
    }

    .topic-buttons-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 1280px) {
    .container {
        width: 1280px;
        margin: 0 auto;
    }

    .quiz-container {
        max-width: 768px;
    }
}
