* {
    font-family: sans-serif;
}

button {
    cursor: pointer;
    border: none;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topic-buttons-container {
    display: grid;
    gap: 20px;

    grid-template-columns: repeat(3, 1fr);

    max-height: 568px;
    overflow-y: auto;
    overflow-x: hidden;
}

.heading-primary {
    font-size: 36px;
    color: rgb(37, 99, 235);
    text-align: center;
    margin-bottom: 25px;
}

.heading-success {
    font-size: 36px;
    color: #15803d;
    text-align: center;
    margin-bottom: 25px;
}

.topic-button {
    background-color: rgb(37, 99, 235);
    color: white;
    font-weight: bold;
    font-size: 1.3rem;
    padding: 15px;
    border-radius: 4px;
    transition: background ease-in-out 300ms;

    min-height: 78px;
}

.topic-button:hover {
    background-color: rgb(0, 73, 229);
}

.question-container > p{
    font-weight: bold;
    font-size: 18px;
}

.question-container > p::before {
    content: 'Q: ';
}

.option-list {
    padding: 0;
}

.option-list li input, .option-list li label {
    cursor: pointer;
}

.option-list li:first-child {
    margin-top: 10px;
}

.option-list li {
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.chosen-answer > label {
    border-bottom: 2px solid #15803d;
}

.chosen-option ~ label {
    border-bottom: 2px solid #15803d;
}

.question-controlls-button {
    background-color: rgb(37, 99, 235);
    color: white;
    font-size: 2rem;
    border-radius: 4px;
    padding: 0.8rem 1.5rem;
    margin-right: 10px;
    font-weight: bold;
    transition: background ease-in-out 300ms;
}

.question-controlls-button:hover {
    background-color: rgb(0, 73, 229);
}

.not-allowed {
    cursor: not-allowed !important;
}
.not-allowed > label, .not-allowed > input {
    cursor: not-allowed !important;
}

.disabled {
    opacity: 0.5;
}

.disabled:hover {
    background-color: rgb(37, 99, 235);
    cursor: not-allowed;
}

.solved {
    background-color: #15803d !important;
}

.solved:hover {
    background-color: #166534 !important;
}

.return-button {
    background-color: #15803d;
    padding: 5px 10px;
    font-weight: bold;
    color: white;
    font-size: 18px;
    border-radius: 4px;
    margin: 25px 0;
    width: 100%;
}

.return-button:hover {
    background-color: #166534;
}

.unselectable {
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.results-list {
    padding: 0;
    text-align: center;
}

.results-list li {
    font-size: 18px;
    line-height: 20px;
}

.controlls-container {
    text-align: center;
}

@media screen and (min-width: 1280px) {
    .container {
        width: 1280px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1024px) {
    .container {
        width: 1024px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 768px) {
    .container {
        width: 768px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 768px) {
    .container {
        width: 768px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 480px) {
    .container {
        width: 480px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 479px) {
    .container {
        width: 100%;
        padding: 0 10px;
        margin: 0 auto;
    }
}
