@tailwind base;
@tailwind components;
@tailwind utilities;

.topic-button {
    background-color: rgb(37, 99, 235);
    color: white;
    font-weight: bold;
    font-size: 1.3rem;
    padding: 1rem 2rem;
    border-radius: 4px;
    transition: background ease-in-out 300ms;
}

.topic-button:hover {
    background-color: rgb(0, 73, 229);
}

.question-container {
    border: 2px solid #15803d;
}

.option-list li:first-child {
    margin-top: 10px;
}

.option-list li {
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.answer-option {
    cursor: pointer;
}

.chosen-answer {
    border: 2px solid #15803d;
}

.question-controlls-button {
    background: #22c55e;
    color: white;
    font-size: 2rem;
    border-radius: 4px;
    padding: 0.8rem 1.5rem;
    margin-right: 10px;
    font-weight: bold;
    transition: background ease-in-out 300ms;
}

.question-controlls-button:hover {
    background: #15803d;
}

.not-allowed {
    cursor: not-allowed !important;
}

.disabled {
    opacity: 0.5;
}
.disabled:hover {
    background: unset;
}